services:
    app:
        build:
            context: .
            dockerfile: docker/app/Dockerfile
        container_name: app
        restart: unless-stopped
        working_dir: /var/www/html
        volumes:
            - .:/var/www/html:cached
        networks:
            - laravel

    db:
        image: postgres:16
        container_name: db
        restart: unless-stopped
        environment:
            POSTGRES_DB: ${DB_DATABASE}
            POSTGRES_USER: ${DB_USERNAME}
            POSTGRES_PASSWORD: ${DB_PASSWORD}
        ports:
            - "5432:5432"
        volumes:
            - pgdata:/var/lib/postgresql/data
        networks:
            - laravel

    vite:
        build:
            context: .
            dockerfile: docker/vite/Dockerfile
        container_name: vite
        working_dir: /var/www/html
        volumes:
            - .:/var/www/html:cached
        command: "npm run dev"
        ports:
            - '5173:5173'
        networks:
            - laravel

    nginx:
        image: nginx:alpine
        container_name: nginx
        ports:
            - "80:80"
        volumes:
            - ./docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
            - .:/var/www/html:cached
        networks:
            - laravel

    mailpit:
        image: axllent/mailpit
        container_name: mailpit
        ports:
            - "1025:1025"
            - "8025:8025"
        networks:
            - laravel

networks:
    laravel:

volumes:
    pgdata:
