services:
    db:
        image: postgres:18.0-alpine
        container_name: db
        restart: unless-stopped
        environment:
            POSTGRES_DB: ${DB_DATABASE}
            POSTGRES_USER: ${DB_USERNAME}
            POSTGRES_PASSWORD: ${DB_PASSWORD}
        ports:
            - "5432:5432"
        volumes:
            - wish-lists-local-data:/var/lib/postgresql

    mailpit:
        image: axllent/mailpit:latest
        container_name: mailpit
        restart: unless-stopped
        ports:
            - "1025:1025"
            - "8025:8025"

volumes:
    wish-lists-local-data:
